@use 'Variables' as *;
@use 'sass:color';
@import 'Mixins';

body {
  background-color: $light-blue;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}


.header {
  margin-top: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: $marian-blue;
    font-family: 'Ruda', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  h2 {
    font-size: 32px;
    color: $dark-purple;
    font-family: 'Ruda', sans-serif;
    margin-bottom: 20px;
  }

  .insertQuestion,
  .example {
    @include BoxedContent;

    .questionTitle {
      text-align: center;
    }

    .questionSubtitle,
    .exampleSubtitle {
      margin-top: 15px;
      margin-bottom: 5px;
      max-width: 80%;
    }

    .questionForm {
      min-width: 60%;
    }

    .questionMessage {
      margin: 15px;
      border: 1px solid;
      padding: 7px;
      min-width: 50%;
      text-align: center;

      &.msgError {
        border-color: red;
        color: red;
      }

      &.msgValid {
        border-color: green;
        color: green;
      }
    }


  }

  code {
    display: inline-block;
    background-color: $mint-green;
    padding: 10px 20px;
    border: 1px solid $federal-blue;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
  }
}

.footer {
  margin-top: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  p {
    margin: 0;
    font-size: 16px;
    color: $federal-blue;
    font-family: 'Ruda', sans-serif;
    text-align: center;
  }
}